.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top: 0;
	background: var(--color-pure-white);
	z-index: 1;
}

.headerLogoWrapper {
	width: 100%;
	max-width: 428px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-bottom: 1px solid #f0eeef;
}

.headerLogo {
	display: block;
}
